.menu{
    background-color: whitesmoke;
    
    height: 350px;
    width: 1520px;
    float: top;
    text-align: right;
    
}
a{
    color: #001;
    font-family: cursive;
    font-size: 20px;
    margin: 10px;
    border-width: 2px;
    border-color: #000;
    
    
}
h1{
    font-family: monospace,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: left;
}
p{
    font-family:cursive;
    font-size: 50px;
    font-size: 18px;
    text-align: left;
}
.body{
    display: inline-block;
    background-color: black;
    height: 400px;
    width: 1535px;

}
h2{
    text-align: center;
    color:whitesmoke;
    font-family: monospace,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    transition-duration: 2s;

}
img{
    margin: 50px;
    border-width: 3px;
    border-color: #fff;
}
 footer{
    color: #000;
    font-family: monospace,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    
    

}
hr{
    color: #000;
    border-width: 3px;
    border-color: #000;
}
